<div class="container py-5">
    <form [formGroup]="myForm" (submit)="send()">
        <h4 class="text-center text-white mb-5">Qo'shimcha ma'lumotlar</h4>
        <div formArrayName="items">
            @for (item of items.controls; track item; let i = $index) {
            <div [formGroupName]="i" class="row w-100 mb-3">
                <div class="col-12 col-sm-12 col-md-5">
                    <input class="form-control" type="text" formControlName="key" placeholder="key">
                </div>

                <div class="col-12 col-sm-12 col-md-5">
                    <input class="form-control" type="text" formControlName="value" placeholder="value">
                </div>

                <div class="col-2">
                    <button class="btn btn-danger" (click)="removeForm(i)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
            }
        </div>

        <div class="d-flex gap-2">
            <button class="btn btn-primary" (click)="addForm()" type="button">
                <i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-success" type="submit">
                <i class="fa fa-check"></i>
            </button>
        </div>
    </form>

    @if (url.length > 51) {
    <h5 class="mt-4 text-white" (click)="copy()">{{ url }} <i class="fa fa-copy ms-2"></i></h5>
    }
</div>